.logo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 36vh;
    padding-top: 20px;
  }
  .logo-container img {
    display: block;
    border-radius: 8px;
    background-color:white;
    border:#ff69b4 solid 5px;
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
  
    /* ✨ Subtle bottom fade */
    mask-image: linear-gradient(to bottom, 
      rgba(0, 0, 0, 1) 95%,  /* solid up to 90% */
      rgba(0, 0, 0, 0) 100%  /* fade just in the last 10% */
    );
    -webkit-mask-image: linear-gradient(to bottom, 
      rgba(0, 0, 0, 1) 98%, 
      rgba(0, 0, 0, 0) 100%
    );
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
  }
    
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  